{% extends 'layout.html'%} {% block title %} Phishing URL Detection
{% endblock title %} {% block body %}
<div class="jumbotron text-center">
	<center>
		<h3 style="font-family: impact;">Phishing URL Detection</h3>

		<form method="POST" action="{{url_for('query')}}">
			<div class=form-group>
				<table cellpadding=14 cellspacing=35>
					<tr>
						<td><input type=text name="url" placeholder="Enter a url"
							value="{{request.form.url}}" required size=50% /></td>
					</tr>
					<tr>
						<td align="center"><input style="background-color: rgba(23, 80, 55, 0.5);" class="btn btn-primary" type=submit
							value="CheckURL" /></td>

					</tr>
					<tr>
						<td align="center">{% if error %} {% if error == 'Legitimate'
							%}
							<p style="color: green;">
								<strong>{{error}}</strong>
							</p> {% else %}
							<p style="color: red;">
								<strong>{{error}}</strong>
							</p> {% endif %} {% endif %}
						</td>
					</tr>
				</table>
			</div>
		</form>
	</center>
</div>
{% endblock body %}
